.proj-achvmt-title-container {
  display: flex;
  width: 100%;
  transform: translateY(-70px);
}

.proj-achvmt-title {
  position: relative;
  border: 1px solid var(--secondary-blue);
  border-radius: 10px;
  width: calc(100% - 150px);
  height: 350px;
  overflow-y: auto;
  scrollbar-gutter: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-blue) #000;
}

.proj-achvmt-title .fa-xmark {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: larger;
}

.proj-achvmt-title .title {
  color: var(--primary-blue);
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.proj-achvmt-title .description {
  padding: 10px;
  color: var(--primary-white);
}

.proj-achvmt-title .images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.proj-achvmt-title .images .image {
  flex: 1 1 calc(50% - 10px); /* two per row */
  max-width: calc(50% - 10px);
  aspect-ratio: 4/3; /* keeps consistent shape */
  border-radius: 8px;
  overflow: hidden;
}

.proj-achvmt-title .images .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.proj-achvmt-title .video {
  width: 100%;
  height: 240px;
  border: 1px solid var(--secondary-blue);
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  color: var(--primary-blue);
  box-sizing: border-box;
}

.proj-achvmt-title .video video {
  width: 100%;
  height: calc(100% - 25px);
}

.proj-achvmt-title .video .fa-circle-play {
  font-size: 0.7em;
}

@media (max-width: 500px) {
  .proj-achvmt-title-container {
    transform: translateY(-200px);
  }

  .proj-achvmt-title {
    width: 100%;
  }
}
