.proj-achvmt-title-container {
  display: flex;
  width: 100%;
}

.proj-achvmt-title {
  position: relative;
  border: 1px solid var(--secondary-blue);
  border-radius: 10px;
  width: calc(100% - 150px);
  height: 350px;
  overflow-y: scroll;
}

.proj-achvmt-title .fa-xmark {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: larger;
}

.proj-achvmt-title .title {
  color: var(--primary-blue);
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.proj-achvmt-title .description {
  padding: 10px;
  color: var(--primary-white);
}

@media (max-width: 500px) {
  .proj-achvmt-title {
    width: 100%;
  }
}
