.proj-achvmt-title-container {
  display: flex;
  width: 100%;
}

.outer-reflection {
  background: linear-gradient(
    50deg,
    var(--primary-white) 10%,
    var(--primary-black) 40%
  );
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
}

.outer-reflection .bubble {
  display: inline-flex;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: var(--primary-black);
  border: 1px solid var(--secondary-blue);
  border-radius: 50%;
  translate: 1px 1px;
}

.bubble .reflection-1,
.bubble .reflection-2,
.bubble .reflection-3 {
  position: absolute;
  background-color: var(--primary-white);
  border-radius: 50%;
  opacity: 80%;
}

.bubble .reflection-1 {
  width: 30%;
  height: 15%;
  border-radius: 50%;
  transform: rotateZ(45deg);
  right: 7%;
  top: 15%;
}

.bubble .reflection-2 {
  width: 22%;
  height: 7.5%;
  border-radius: 50%;
  transform: rotateZ(60deg);
  left: 0;
  bottom: 25%;
}

.bubble .reflection-3 {
  width: 10%;
  height: 5%;
  border-radius: 50%;
  transform: rotateZ(30deg);
  left: 25%;
  bottom: 5%;
}

.bubble .title {
  display: grid;
  align-items: center;
  color: var(--primary-blue);
  width: 80%;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 10%;
  text-align: center;
}
