.border {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--secondary-blue);
  margin: 10px 0;
}

.section-title {
  width: 100%;
  color: var(--primary-blue);
  text-align: center;
  margin-bottom: 10px;
}

.grid-container {
  position: relative;
}

.dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.dot {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #222;
}

.glow {
  background-color: var(--primary-blue);
  box-shadow: 0 0 6px var(--primary-blue), 0 0 12px var(--primary-blue);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.glow-soft {
  background-color: var(--primary-blue);
  box-shadow: 0 0 2px var(--primary-blue), 0 0 4px var(--primary-blue);
  opacity: 0.4;
  transition: box-shadow 0.4s ease, background-color 0.4s ease,
    opacity 0.4s ease;
}

.glow-medium {
  background-color: var(--primary-blue);
  box-shadow: 0 0 4px var(--primary-blue), 0 0 8px var(--primary-blue);
  opacity: 0.7;
  transition: box-shadow 0.4s ease, background-color 0.4s ease,
    opacity 0.4s ease;
}

.glow-strong {
  background-color: var(--primary-blue);
  box-shadow: 0 0 6px var(--primary-blue), 0 0 12px var(--primary-blue);
  opacity: 1;
  transition: box-shadow 0.4s ease, background-color 0.4s ease,
    opacity 0.4s ease;
}
